# Aliases

## General

alias update='sudo apt update -y'
alias upgrade='sudo apt upgrade -y'
alias sudo='sudo '
alias c='clear'
alias ipconfig='ifconfig'

## LS

alias lt='ls --human-readable --size -1 -S --classify'
alias lda='ls -al --color | sort -k1 -h'
alias ld='ls --color | sort -k1'

## Docker / Podman

alias dk='docker'
alias 'docker-compose'='docker compose'
alias dkc='docker-compose'
alias dkup='dkc up'
alias dkdn='dkc down'

## Python
alias pip='py -m pip'

## Requires other dependecies
alias dkps='docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock -v ~/git/Self-Host/lazydocker/config:/.config/jesseduffield/lazydocker lazyteam/lazydocker'
